<div class="text-right">
  <button mat-button class="text-danger" [routerLink]="['/pages/fornecedor/form']"><strong>ADD FORNECEDOR</strong></button>
  <button mat-button class="text-danger" [routerLink]="['/']"><strong>VOLTAR</strong></button>
</div>

<div class="background-app">
  <div class="container">
    <div *ngIf="list.length" class="text-center">
      <p class="h1 text-danger"><strong>Fornecedores</strong></p>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div *ngFor="let forn of list" class="col-md-3">
        <div class="text-center" style="cursor: pointer;" [routerLink]="['/pages/fornecedor/form', forn.id]">
          <img [src]="'data:image/jpg;base64,' + forn.imagem" class="rounded-circle" height="250" width="250">
          <h3><strong>{{ forn.nome }}</strong></h3>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
