<nav class="navbar navbar-dark primary-color">
  <a class="navbar-brand" href="#">NOSSO PRESENTE</a>
  <form class="form-inline">
    <button class="btn btn-outline-white btn-sm my-0" [routerLink]="['/pages/fornecedor/form']">ADD FORNECEDOR</button>
  </form>
</nav>

<div class="background-app">
  <div class="container">
    <br>
    <div style="text-align: center;">
      <p class="h1 indigo-text">Fornecedores</p>
    </div>
    <br>
    <div class="row">
      <div *ngFor="let forn of list" class="col-md-3">
        <div style="text-align: center">
          <img [src]="'data:image/jpg;base64,' + forn.imagem" class="img-fluid rounded-circle z-depth-2" style="height:250px;width:300px">
          <h3>{{ forn.nome }}</h3>
          <a class="btn btn-secondary">VISITAR</a>
        </div>
      </div>
    </div>
  </div>
</div>
