<div class="text-right">
  <button mat-button class="text-danger" [routerLink]="['/pages/fornecedor']"><strong>VOLTAR</strong></button>
</div>
<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p class="h1 text-danger text-center"><strong>Fornecedor</strong></p>
    <div class="divider"></div>
    <div class="row">
      <div class="col-md">
        <div class="row">
          <div class="col-md">
            <mat-form-field>
              <input matInput placeholder="Nome" formControlName="nome" maxlength="150" required>
              <mat-error *ngIf="form.controls['nome'].hasError('required')">
                Campo <strong>obrigatório!</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col-md">
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" maxlength="150" required>
              <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
                Email <strong>inválido!</strong>
              </mat-error>
              <mat-error *ngIf="form.controls['email'].hasError('required')">
                Campo <strong>obrigatório!</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col-md">
            <mat-form-field>
              <input matInput placeholder="Loja" formControlName="loja" maxlength="150" required>
              <mat-error *ngIf="form.controls['loja'].hasError('required')">
                Campo <strong>obrigatório!</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="col-md text-center">
        <label for="imagem" class="btn btn-lg btn-primary"><i class="fa fa-camera"></i> <strong>PROCURAR IMAGEM</strong></label>
        <input type="file" id="imagem" (change)="onFileChange($event)" class="invisible">
        <img *ngIf="!form.controls['imagem'].value" height="250" width="250" class="rounded-circle border"/>
        <img *ngIf="form.controls['imagem'].value" [src]="'data:image/jpg;base64,' + form.controls['imagem'].value" height="250" width="250" class="rounded-circle"/>
      </div>
    </div>
    <div class="divider"></div>
    <div class="text-center">
      <button class="btn btn-lg btn-success" type="submit"><i class="fa fa-check"></i> <strong>ADICIONAR</strong> </button>
    </div>
  </form>
</div>
