<nav class="navbar navbar-dark primary-color">
  <a class="navbar-brand" href="#"><strong>NOSSO PRESENTE</strong></a>
  <form class="form-inline">
    <button class="btn btn-outline-white btn-sm my-1" [routerLink]="['/pages/fornecedor']"><strong>VOLTAR</strong></button>
  </form>
</nav>
<br>
<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p class="h2 indigo-text" style="text-align: center;">Criar fornecedor</p>

    <div class="row">
      <div class="col-md">
        <div class="row">
          <div class="col-md">
            <mat-form-field>
              <input matInput placeholder="Nome" formControlName="nome" maxlength="150" required>
              <mat-error *ngIf="form.controls['nome'].hasError('required')">
                Campo <strong>obrigatório!</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col-md">
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" maxlength="150" required>
              <mat-error *ngIf="form.controls['email'].hasError('required')">
                Campo <strong>obrigatório!</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col-md">
            <mat-form-field>
              <input matInput placeholder="Loja" formControlName="loja" maxlength="150" required>
              <mat-error *ngIf="form.controls['loja'].hasError('required')">
                Campo <strong>obrigatório!</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md text-center">
        <br>
        <label for="imagem" class="btn btn-indigo waves-light">Imagem do fornecedor </label>
        <input type="file" id="imagem" (change)="onFileChange($event)" style="visibility:hidden;">
        <img *ngIf="!form.controls['imagem'].value" height="250" width="250" class="rounded-circle border"/>
        <img *ngIf="form.controls['imagem'].value" [src]="'data:image/jpg;base64,' + form.controls['imagem'].value" height="250" width="250" class="rounded-circle"/>
      </div>
    </div>

    <div class="text-center">
      <button class="btn btn-indigo waves-light" type="submit"><strong>Confirmar </strong> </button>
    </div>
  </form>
</div>
