<nav class="navbar navbar-dark primary-color">
  <a class="navbar-brand" href="#"><strong>NOSSO PRESENTE</strong></a>
  <form class="form-inline">
    <button class="btn btn-outline-white btn-sm my-1" [routerLink]="['/pages/fornecedor']"><strong>VOLTAR</strong></button>
  </form>
</nav>
<br>
<div class="container">
  <form>
    <p class="h2 indigo-text" style="text-align: center;">Criar fornecedor</p>

    <input type="text" id="nome" class="form-control">
    <label for="nome"><strong>Nome</strong> </label>

    <input type="email" id="email" class="form-control">
    <label for="email"><strong>Email</strong> </label>

    <input type="text" id="loja" class="form-control">
    <label for="loja"><strong>Loja</strong> </label>

    <div class="text-center">
      <button class="btn btn-indigo waves-light" type="submit"><strong>Confirmar </strong> </button>
    </div>
  </form>
</div>
