<div class="text-right">
  <div class="btn-group" role="group">
    <button class="btn btn-light" [routerLink]="['/pages/evento/form']"><strong>ADD LISTA</strong></button>
    <button class="btn btn-light" [routerLink]="['/']"><strong>VOLTAR</strong></button>
  </div>
</div>

<div class="text-left">
  <div class="col-md-3">
    <div class="text-center">
      <img [src]="'data:image/jpg;base64,' + evento.imagem" class="rounded-circle" height="250" width="250">
      <h3><strong>{{ evento.nome }}</strong></h3>
      <h5><strong>{{ evento.tipo }}</strong></h5>
    </div>
  </div>
</div>
