<ngx-loading [show]="loading"></ngx-loading>

<div class="text-right">
  <div class="btn-group" role="group">
    <button class="btn btn-light" [routerLink]="['/']"><strong>VOLTAR</strong></button>
  </div>
</div>

<div class="container">
  <form [formGroup]="form" novalidate autocomplete="off">
    <p class="h1 text-secondary text-center"><strong>Produto</strong></p>
    <div class="divider"></div>
    <div class="row">
      <div class="col-md">
        <div class="row">
          <div class="col-md">
            <mat-form-field>
              <input matInput placeholder="Nome" formControlName="nome" maxlength="150" required>
              <mat-error *ngIf="form.controls['nome'].hasError('required')">
                Campo <strong>obrigatório!</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col-md">
            <mat-form-field>
              <mat-select formControlName="categoria" matInput placeholder="Categoria" required>
                <mat-option *ngFor="let cat of categorias | enumToArray" [value]="cat">
                  {{ cat }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls['categoria'].hasError('required')">
                Campo <strong>obrigatório!</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md">
            <mat-form-field>
              <input MoneyMask matInput placeholder="Valor" formControlName="valor" required>
              <mat-error *ngIf="form.controls['valor'].hasError('required')">
                Campo <strong>obrigatório!</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col-md">
            <mat-form-field>
              <input matInput placeholder="Link" formControlName="link" maxlength="150" required>
              <mat-error *ngIf="form.controls['link'].hasError('required')">
                Campo <strong>obrigatório!</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="text-center">
      <button class="btn btn-lg btn-success" (click)="onSubmit()"><i class="fa fa-check"></i> <strong>ADICIONAR</strong> </button>
    </div>
  </form>
  <div class="divider"></div>
  <div class="row">
    <div *ngFor="let prod of produtos" class="col-md-4 text-center">
      <div class="divider"></div>
      <h4 class="text-info"><strong>{{ prod.nome }}</strong></h4>
      <h5 class="font-italic"><strong>{{ prod.categoria }}</strong></h5>
      <h3><strong>{{ prod.valor | currency:'R$ ' }}</strong></h3>
      <a class="btn btn-danger text-white" (click)="delete(prod.id)"><i class="fa fa-trash"></i></a>
      <a class="btn btn-warning text-white" (click)="edit(prod.id)"><i class="fa fa-pencil"></i></a>
    </div>
  </div>
  <br>
</div>
<br><br>
