<div class="text-right">
  <button mat-button class="text-danger" [routerLink]="['/pages/fornecedor']"><strong>FORNECEDOR</strong></button>
  <button mat-button class="text-danger" [routerLink]="['/pages/evento']"><strong>LISTA</strong></button>
  <button mat-button class="text-danger" [routerLink]="['/pages/produto/form']"><strong>PRODUTO</strong></button>
</div>

<div class="container">
  <div class="text-center">
    <p class="h1 text-danger"><strong>Listas de presentes</strong></p>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div *ngFor="let forn of fornecedores" class="col-md-3">
      <div class="text-center">
        <img [src]="'data:image/jpg;base64,' + forn.imagem" class="rounded-circle" height="250" width="250">
        <h3><strong>{{ forn.nome }}</strong></h3>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="text-center">
    <p class="h1 text-danger"><strong>Fornecedores</strong></p>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-center">
        <img src="http://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg" class="rounded-circle" height="250" width="250">
        <h3><strong>Julia</strong></h3>
      </div>
    </div>
  </div>
</div>

