<div class="text-right">
  <div class="btn-group" role="group">
    <button class="btn btn-light" [routerLink]="['/pages/fornecedor']"><strong>FORNECEDOR</strong></button>
    <button class="btn btn-light" [routerLink]="['/pages/evento']"><strong>LISTA</strong></button>
    <button class="btn btn-light" [routerLink]="['/pages/produto/form']"><strong>PRODUTO</strong></button>
  </div>
</div>

<div class="container">
  <div *ngIf="eventos.length > 0" class="text-center">
    <p class="h1 text-secondary"><strong>Listas de presentes</strong></p>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div *ngFor="let eve of eventos" class="col-md-3">
      <div class="text-center">
        <img [src]="'data:image/jpg;base64,' + eve.imagem" class="rounded-circle" height="250" width="250">
        <h3><strong>{{ eve.nome }}</strong></h3>
        <h4><strong>{{ eve.categoria }}</strong></h4>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div *ngIf="fornecedores.length > 0" class="text-center">
    <p class="h1 text-secondary"><strong>Fornecedores</strong></p>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div *ngFor="let forn of fornecedores" class="col-md-3">
      <div class="text-center">
        <img [src]="'data:image/jpg;base64,' + forn.imagem" class="rounded-circle" height="250" width="250">
        <h3 class="text-info"><strong>{{ forn.nome }}</strong></h3>
      </div>
    </div>
  </div>
</div>

