<nav class="navbar navbar-dark primary-color">
  <a class="navbar-brand" href="#"><strong>NOSSO PRESENTE</strong></a>
  <form class="form-inline">
    <button class="btn btn-outline-white btn-sm my-1" [routerLink]="['/pages/evento']"><strong>VOLTAR</strong></button>
  </form>
</nav>
<br>
<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p class="h2 indigo-text" style="text-align: center;">Criar lista de presentes</p>

    <input type="text" id="nome" class="form-control" formControlName="nome">
    <label for="nome"><strong>Nome</strong> </label>

    <input type="categoria" id="categoria" class="form-control" formControlName="categoria">
    <label for="categoria"><strong>Categoria</strong> </label><br>

    <input type="file" id="avatar" (change)="onFileChange($event)">
    <label for="avatar"><strong>Loja</strong> </label>
    <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>

    <div class="text-center">
      <button class="btn btn-indigo waves-light" type="submit"><strong>Confirmar </strong> </button>
    </div>
  </form>
</div>
