
<div class="text-right">
  <button mat-button class="text-danger" [routerLink]="['/pages/evento']"><strong>VOLTAR</strong></button>
</div>

<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p class="h1 text-danger text-center" style="text-align: center;"><strong>Lista de presente</strong></p>
    <div class="row">
      <div class="col-md">
        <div class="row">
          <input type="text" id="nome" class="form-control" formControlName="nome">
          <label for="nome"><strong>Nome</strong> </label>
        </div>
        <div class="row">
          <input type="text" id="categoria" class="form-control" formControlName="categoria">
          <label for="categoria"><strong>Categoria</strong> </label><br>
        </div>
      </div>
      <div class="col-md text-center">
        <br>
        <label for="avatar" class="btn btn-indigo waves-light">Imagem da lista de presentes</label>
        <input type="file" id="avatar" (change)="onFileChange($event)" style="visibility:hidden;">
        <img *ngIf="form.controls['avatar'].value" [src]="'data:image/jpg;base64,' + form.controls['avatar'].value" style="height:300px;width:300px" class="img-fluid rounded-circle z-depth-2"/>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-success btn-lg" type="submit"><i class="fa fa-check"></i> <strong>ADICIONAR</strong></button>
    </div>
  </form>
</div>
