<div class="background-app">
  <div class="container">
    <div class="row">
      <div class="col" style="text-align: right;">
        <button class="btn btn-secondary" [routerLink]="['/pages/evento/form']"><i class="fa fa-plus mr-1"></i> ADD LISTA DE PRESENTE</button>
      </div>
    </div>
  <br>
    <div class="row">
      <div class="col">
        <div style="text-align: center">
          <img src="http://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="img-fluid rounded-circle z-depth-2">
          <h3>Maria e Julio</h3>
          <h5>Casamento</h5>
          <a class="btn btn-secondary">ENTRAR</a>
        </div>
      </div>

      <div class="col">
        <div style="text-align: center">
          <img src="http://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="img-fluid rounded-circle z-depth-2">
          <h3>Maria e Julio</h3>
          <h5>Casamento</h5>
          <a class="btn btn-secondary">ENTRAR</a>
        </div>
      </div>

      <div class="col">
        <div style="text-align: center">
          <img src="http://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="img-fluid rounded-circle z-depth-2">
          <h3>Mauricio</h3>
          <h5>Aniversário</h5>
          <a class="btn btn-secondary">ENTRAR</a>
        </div>
      </div>
    </div>
  </div>
</div>
