<nav class="navbar navbar-dark primary-color">
  <a class="navbar-brand" href="#"><strong>NOSSO PRESENTE</strong></a>
  <form class="form-inline">
    <button class="btn btn-outline-white btn-sm my-1" [routerLink]="['/pages/evento/form']"><strong>ADD LISTA DE PRESENTE</strong></button>
  </form>
</nav>

<div class="background-app" style="font-weight: bold;">
  <div class="container">
    <br>
    <div style="text-align: center;">
      <p class="h1 indigo-text"><strong>Listas de presentes</strong></p>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div style="text-align: center;">
          <img src="http://mdbootstrap.com/img/Photos/Avatars/img%20(5).jpg" class="img-fluid rounded-circle z-depth-2">
          <h3><strong>Maria e Julio</strong></h3>
          <h5><strong>Casamento</strong></h5>
          <a class="btn btn-secondary"><strong>ENTRAR</strong></a>
        </div>
      </div>

      <div class="col">
        <div style="text-align: center;">
          <img src="http://mdbootstrap.com/img/Photos/Avatars/img%20(6).jpg" class="img-fluid rounded-circle z-depth-2">
          <h3>Maria e Julio</h3>
          <h5>Casamento</h5>
          <a class="btn btn-secondary">ENTRAR</a>
        </div>
      </div>

      <div class="col">
        <div style="text-align: center">
          <img src="http://mdbootstrap.com/img/Photos/Avatars/img%20(7).jpg" class="img-fluid rounded-circle z-depth-2">
          <h3>Mauricio</h3>
          <h5>Aniversário</h5>
          <a class="btn btn-secondary">ENTRAR</a>
        </div>
      </div>

      <div class="col">
        <div style="text-align: center">
          <img src="http://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="img-fluid rounded-circle z-depth-2">
          <h3>Mauricio</h3>
          <h5>Aniversário</h5>
          <a class="btn btn-secondary">ENTRAR</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
