<div class="text-right">
  <button mat-button class="text-danger" [routerLink]="['/pages/evento/form']"><strong>ADD LISTA</strong></button>
  <button mat-button class="text-danger" [routerLink]="['/']"><strong>VOLTAR</strong></button>
</div>

<div class="background-app">
  <div class="container">
    <div *ngIf="list.length > 0" class="text-center">
      <p class="h1 text-danger"><strong>Listas de presentes</strong></p>
    </div>
    <div class="row">
      <div *ngFor="let eve of list" class="col-md-3">
        <div class="text-center">
          <img [src]="'data:image/jpg;base64,' + eve.imagem" class="rounded-circle" height="250" width="250">
          <h3><strong>{{ eve.nome }}</strong></h3>
          <h5><strong>{{ eve.tipo }}</strong></h5>
        </div>
      </div>
    </div>
  </div>
</div>
